.about {
    color: black;
    min-height: 110vh;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 20px;
    overflow-x: hidden;
    flex-wrap: wrap; /* Ensure flex items wrap to new line on smaller screens */
  }
  
  .about-content {
    flex: 1;
    margin-top: 40px;
    width: 100%; /* Set full width on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }
  
  .about-content h1 {
    font-size: 4rem;
  }
  
  .about-content p {
    font-size: 1.5rem;
  }
  
  .enter-from-right {
    position: relative;
    right: -200px;
    width: 60%;
    height: 100vh;
    transition: right 1s ease;
    overflow-x: hidden;
    max-width: 100%; /* Set maximum width to the image's original size */
    margin: 0 auto; /* Center the image on smaller screens */
  }
  
  .entered-from-right {
    right: 0;
  }
  
  @media screen and (max-width: 900px) {
    .about-content h1 {
        font-size: 2.8rem;
        margin: 0px;
        padding: 0px;
      }
    .enter-from-right{
        width: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    .about-content h1 {
        font-size: 1.8rem;
        margin: 0px;
        padding: 0px;
      }
    .enter-from-right{
        width: 100%;
        height: 50%;
    }
  }